<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<form action="/vehicle" method="post">
  <div class="form-group">
    <label >Vehicle Type</label>
    <input type="text" class="form-control" name="vehicletype"  placeholder="Enter Vehicle Type" required >
  </div>
  <div class="form-group">
    <label >Mileage</label>
    <input type="number" class="form-control" name="mileage"  placeholder="Enter Mileage Of Vehicle" required >
  </div>
	<label >Hybrid</label>
    <p><select class="form-select"  name="hybrid">
          <option value ='Y'>Yes</option>
          <option value ='N'>No</option>
       </select>
    </p>
	<p><input type="submit" value="submit"/></p>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Vehicle Type</th>
      <th scope="col">Mileage</th>
      <th scope="col">Hybrid</th>
    </tr>
  </thead>
	{% for result in results %}
	<tr>
	<th scope="row">{{result.id}}</th>
	<td>{{result.vehicletype}}
	</td>
	<td>{{result.mileage}}
	</td>
	<td>{{result.hybrid}}
	</tr>
	{% endfor %}
</table>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</body>
</html>